<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Cam_Program.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Cam_Program.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Cam_Program.Settings1>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Cam_Program.Settings1>
    <Cam_Program.Properties.Settings>
      <setting name="Disco" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="location" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="size" serializeAs="String">
        <value>800, 950</value>
      </setting>
      <setting name="URILT" serializeAs="String">
        <value>http://cam.lingbrae/porch</value>
      </setting>
      <setting name="URIRT" serializeAs="String">
        <value>http://cam.lingbrae/drive</value>
      </setting>
      <setting name="URILM" serializeAs="String">
        <value>http://cam.lingbrae/tunnel</value>
      </setting>
      <setting name="URIRM" serializeAs="String">
        <value>http://cam.lingbrae/patio</value>
      </setting>
      <setting name="URIRB" serializeAs="String">
        <value>http://cam.lingbrae/garage</value>
      </setting>
      <setting name="MQTT" serializeAs="String">
        <value>hagrid.lingbrae</value>
      </setting>
      <setting name="UseMQTT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MQTTSubs" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="Darktheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="b1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="b2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="b3" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="b4" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="b5" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="b6" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Experimental" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BGColor" serializeAs="String">
        <value>184, 204, 232</value>
      </setting>
      <setting name="Usecolor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="v2wcount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="v2hcount" serializeAs="String">
        <value>3</value>
      </setting>
    </Cam_Program.Properties.Settings>
  </userSettings>
</configuration>